.card_ferramentas {
    /* background-color: rgba(86, 41, 132, 0.8); */
    border-radius: 15px;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 260px;
    width: 180px;
    border: 0.5px solid white;
}

.card_ferramentas p {
    margin-bottom: 20px;
}

.card_ferramentas img {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 130px;
}