/****** Object:  Database [serverctmercadados]    Script Date: 09/12/2025 08:16:03 ******/
CREATE DATABASE [serverctmercadados]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** Os scripts das configurações no escopo do banco de dados no Azure devem ser executados dentro da conexão de banco de dados de destino. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estoque]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estoque](
	[EstoqueID] [uniqueidentifier] NOT NULL,
	[Setor] [varchar](200) NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_Estoque] PRIMARY KEY CLUSTERED 
(
	[EstoqueID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstoqueProdutos]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstoqueProdutos](
	[EstoqueProdutosID] [uniqueidentifier] NOT NULL,
	[QuantidadeEstoque] [int] NOT NULL,
	[DataAtualizacao] [datetime2](7) NOT NULL,
	[ProdutosID] [uniqueidentifier] NOT NULL,
	[EstoqueID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EstoqueProdutos] PRIMARY KEY CLUSTERED 
(
	[EstoqueProdutosID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [uniqueidentifier] NOT NULL,
	[Nota] [varchar](200) NOT NULL,
	[FuncionarioID] [uniqueidentifier] NOT NULL,
	[DataFeedback] [datetime] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[FuncionarioID] [uniqueidentifier] NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[NomeFuncionario] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Senha] [varchar](100) NOT NULL,
	[Genero] [varchar](100) NOT NULL,
	[RuaENumero] [varchar](200) NOT NULL,
	[CidadeEstadoCEP] [varchar](200) NOT NULL,
	[Complemento] [varchar](100) NULL,
	[Numero] [varchar](13) NOT NULL,
	[Cpf] [varchar](14) NOT NULL,
	[UsuarioID] [uniqueidentifier] NOT NULL,
	[FotoPerfil] [varchar](300) NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[FuncionarioID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imagens]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagens](
	[ImagemID] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[Caminho] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Imagens] PRIMARY KEY CLUSTERED 
(
	[ImagemID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[ProdutoID] [uniqueidentifier] NOT NULL,
	[Nome] [varchar](200) NOT NULL,
	[Valor] [float] NOT NULL,
	[NumeroProduto] [int] NOT NULL,
	[Validade] [date] NOT NULL,
	[Peso] [varchar](250) NOT NULL,
	[Setor] [varchar](250) NOT NULL,
	[Fornecedor] [varchar](250) NULL,
	[Imagem] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[ProdutoID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TesteConexao]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TesteConexao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[TipoUsuarioID] [uniqueidentifier] NOT NULL,
	[TituloTipoUsuario] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[TipoUsuarioID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [uniqueidentifier] NOT NULL,
	[NomeUsuario] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Senha] [varchar](100) NOT NULL,
	[TipoUsuarioID] [uniqueidentifier] NOT NULL,
	[Numero] [varchar](13) NOT NULL,
	[Cpf] [varchar](14) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 09/12/2025 08:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[VendaID] [uniqueidentifier] NOT NULL,
	[Valor] [float] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[ProdutoID] [uniqueidentifier] NOT NULL,
	[ProdutosProdutoID] [uniqueidentifier] NULL,
	[FeedbackID] [uniqueidentifier] NULL,
	[DataVenda] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Venda] PRIMARY KEY CLUSTERED 
(
	[VendaID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstoqueProdutos_EstoqueID]    Script Date: 09/12/2025 08:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_EstoqueProdutos_EstoqueID] ON [dbo].[EstoqueProdutos]
(
	[EstoqueID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstoqueProdutos_ProdutosID]    Script Date: 09/12/2025 08:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_EstoqueProdutos_ProdutosID] ON [dbo].[EstoqueProdutos]
(
	[ProdutosID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedback_FuncionarioID]    Script Date: 09/12/2025 08:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_FuncionarioID] ON [dbo].[Feedback]
(
	[FuncionarioID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Funcionario_UsuarioID]    Script Date: 09/12/2025 08:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_Funcionario_UsuarioID] ON [dbo].[Funcionario]
(
	[UsuarioID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuario_TipoUsuarioID]    Script Date: 09/12/2025 08:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_Usuario_TipoUsuarioID] ON [dbo].[Usuario]
(
	[TipoUsuarioID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venda_FeedbackID]    Script Date: 09/12/2025 08:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_Venda_FeedbackID] ON [dbo].[Venda]
(
	[FeedbackID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venda_ProdutosProdutoID]    Script Date: 09/12/2025 08:16:03 ******/
CREATE NONCLUSTERED INDEX [IX_Venda_ProdutosProdutoID] ON [dbo].[Venda]
(
	[ProdutosProdutoID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TesteConexao] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[EstoqueProdutos]  WITH CHECK ADD  CONSTRAINT [FK_EstoqueProdutos_Estoque_EstoqueID] FOREIGN KEY([EstoqueID])
REFERENCES [dbo].[Estoque] ([EstoqueID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstoqueProdutos] CHECK CONSTRAINT [FK_EstoqueProdutos_Estoque_EstoqueID]
GO
ALTER TABLE [dbo].[EstoqueProdutos]  WITH CHECK ADD  CONSTRAINT [FK_EstoqueProdutos_Produtos_ProdutosID] FOREIGN KEY([ProdutosID])
REFERENCES [dbo].[Produtos] ([ProdutoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstoqueProdutos] CHECK CONSTRAINT [FK_EstoqueProdutos_Produtos_ProdutosID]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Funcionario_FuncionarioID] FOREIGN KEY([FuncionarioID])
REFERENCES [dbo].[Funcionario] ([FuncionarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Funcionario_FuncionarioID]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Usuario_UsuarioID] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Usuario_UsuarioID]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario_TipoUsuarioID] FOREIGN KEY([TipoUsuarioID])
REFERENCES [dbo].[TipoUsuario] ([TipoUsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario_TipoUsuarioID]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Feedback_FeedbackID] FOREIGN KEY([FeedbackID])
REFERENCES [dbo].[Feedback] ([FeedbackID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Feedback_FeedbackID]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Produtos_ProdutosProdutoID] FOREIGN KEY([ProdutosProdutoID])
REFERENCES [dbo].[Produtos] ([ProdutoID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Produtos_ProdutosProdutoID]
GO
